.SpacesPage {

}

.SpacesPage__header {
    padding: var(--space-m);
    border-bottom: 1px solid var(--default-border);
}

.SpacesPage__headerTitle {
    font: var(--headline-font);
    font-weight: var(--font-weight-bold);
}

.SpacesPage__addSpaceButton {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.SpacesPage__addSpaceButtonIcon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    color: var(--default-forefround);
}

.SpacesPage__settingsActionButton {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-weight: var(--font-weight-regular);
}

.SpacesPage__settingsActionButtonIcon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    fill: var(--default-forefround);
    flex-shrink: 0;
}

.SpacesPage__spaces {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: var(--space-m);
    padding: var(--space-xl)
}
