.collapse {
    cursor: pointer;
}

.collapseIcon svg {
    width: 18px;
    height: 18px;
    transition: transform 0.3s;
}

.collapseIcon.isOpen {
    transform: rotate(90deg);
}

.collapseTitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    user-select: none
}
