.comment {
    white-space: pre-wrap;
}

.tab {
    padding: 9px 16px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.35);
}

.tab.active {
    color: #0D9E47;
    font-weight: var(--font-weight-semibold);
}
