.settingsIcon svg {
    width: 24px;
    height: 24px;
}

.menuItem {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    display: block;
}

.deleteUserFromTeamIcon svg {
    width: 18px;
    height: 18px;
    fill: #FF4D4F;
}
