.SpaceSolutionsPage {
    background-color: var(--default-background-2);
    min-height: 100%;
    flex: 1;
    width: 100%;
}

.SpaceSolutionsPage__header,
.SpaceSolutionsPage__tasks {
    padding: var(--space-l);
    width: 100%;
}

.SpaceSolutionsPage__task {
    flex: 1;
}

.SpaceSolutionsPage__workLink {
    width: 100%;
}
