.form {
    max-width: 600px;
    padding-bottom: 20px !important;
}
.submitButton {
    margin-bottom: 0;
}

.formItem {
    margin-bottom: 0;
}

.formItem label {
    font: var(--font-default);
    font-weight: var(--font-weight-medium);
}

.icon svg {
    font-size: 20px;
}

.main {
    width: 100%;
}

.collapseHeader {
    display: flex;
    align-items: center !important;
}
