.SpacePage {

}

.SpacePage__loader {
    width: 100%;
    background-color: var(--default-background-2);
    height: 100%;
}

.SpacePage__backLink {
    display: flex;
    align-items: center;
    margin-right: var(--space-m);
    gap: var(--space-xxs);
}

.SpacePage__backLinkIcon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    object-position: center;
    margin-top: 2px;
}

.SpacePage__settings {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
}

.SpacePage__settingsIcon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    fill: var(--default-forefround);
}

.SpacePage__settings:hover .SpacePage__settingsIcon {
    fill: var(--brand-background);
    stroke: var(--brand-background);
    stroke-width: 1px;
}

.SpacePage__settingsModal {
    background-color: var(--default-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-m);
    padding: var(--space-xxs);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: fit-content;
}

.SpacePage__settingsActionButton {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-weight: var(--font-weight-regular);
}

.SpacePage__settingsActionButtonIcon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    fill: var(--default-forefround);
    flex-shrink: 0;
}

.SpacePage__content {
    flex:1;
    width: 100%;
    display: flex;
}

.SpacePage__avatar {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius-m);
    object-position: center;
    object-fit: cover;
    background-color: var(--brand-forefround);
    color: #fff;
    font-size: 14px
}

.SpacePage__header {
    padding: var(--space-xs) var(--space-m);
    border-bottom: 1px solid var(--default-border);
}

.SpacePage__name {
    font-size: var(--subheadline-font-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--subheadline-line-height);
}
