.SpaceTaskPage {
    background-color: var(--default-background-2);
    min-height: 100%;
    flex: 1;
    width: 100%;
    padding: var(--space-l)
}

.SpaceTaskPage__content {
    width: 100%;
}

.SpaceTaskPage__name {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 13px;
}

.SpaceTaskPage__deadline {
    font-size: 12px;
    color: var(--default-forefround-3);
}

.SpaceTaskPage__header {
    margin-bottom: var(--space-s);
}
