.SpaceSettingsForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.SpaceSettingsForm__fileInput {
    width: 100px;
    height: 100px;
}

.SpaceSettingsForm__fileInputField {
    width: auto;
}

.SpaceSettingsForm__nameInputField {
    flex: 1;
}

.SpaceSettingsForm__submitButton {
    align-self: start;
}
