@font-face {
    font-family: Inter;
    src: url('@shared/assets/fonts/Inter-Light.ttf') format("truetype");
    font-weight: var(--font-weight-light);
}

@font-face {
    font-family: Inter;
    src: url('@shared/assets/fonts/Inter-Regular.ttf') format("truetype");
    font-weight: var(--font-weight-regular);
}

@font-face {
    font-family: Inter;
    src: url('@shared/assets/fonts/Inter-Medium.ttf') format("truetype");
    font-weight: var(--font-weight-medium);
}

@font-face {
    font-family: Inter;
    src: url('@shared/assets/fonts/Inter-SemiBold.ttf') format("truetype");
    font-weight: var(--font-weight-semibold);
}

@font-face {
    font-family: Inter;
    src: url('@shared/assets/fonts/Inter-Bold.ttf') format("truetype");
    font-weight: var(--font-weight-bold);
}
