@import url("@shared/styles/normilize.css");
@import url("@shared/styles/variables.css");
@import url("@shared/styles/fonts.css");

* {
    color: var(--default-forefround);
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

a {
    text-decoration: none;
}
