@import url("@shared/styles/normilize.css");
@import url("@shared/styles/variables.css");
@import url("@shared/styles/fonts.css");

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

a {
    text-decoration: none;
}

.LoaderFallback {
    width: 100vw;
    height: 100vh;
    background-color: var(--default-background-2);
}

.ant-pagination > * {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
