@import url("normilize.css");
@import url("variables.css");
@import url("fonts.css");
@import url("antd.css");

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.LoaderFallback {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--default-background-2);

}

.ant-pagination > * {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
