.FormField {
    width: 100%;
}

.FormField__label {
    font-weight: var(--font-weight-medium)
}

.FormField__field {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.FormField__endContent {
    position: absolute;
    right: var(--space-s);
}

.FormField__error {
    color: var(--red-forefround);
    font-size: var(--caption-font-size);
    min-height: var(--caption-font-size);
    line-height: var(--caption-font-size);
}
