.CriteriaForm,
.CriteriaForm__styles {
    width: 100%;
}

.CriteriaForm {
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    overflow: hidden;
    background-color: var(--default-background-2);
}

.CriteriaForm_isError {
    border-color: #ff4d4f;
}

.CriteriaForm__additional {
    width: 100%;
    padding: 8px 12px;
}

.CriteriaForm:not(.CriteriaForm_isOpen) .CriteriaForm__additional {
    display: none;
}

.CriteriaForm__openArrowIcon {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    transition: transform 0.3s;
    margin-top: 2px;
}

.CriteriaForm_isOpen .CriteriaForm__openArrowIcon {
    transform: rotate(180deg);
}

.CriteriaForm__score {
    font-weight: var(--font-weight-bold);
    color: var(--default-forefround-3);
    font-size: 16px;
    opacity: 0.8;
    line-height: 16px;
}

.CriteriaForm__score_done {
    color: #2a965c;
}

.CriteriaForm__header {
    width: 100%;
    padding: 8px 12px;
}

.CriteriaForm_isError .CriteriaForm__header {
    background-color: #ff4d4f;
}

.CriteriaForm_isError .CriteriaForm__headerName{
    color: #fff
}

.CriteriaForm_isError .CriteriaForm__score {
    color: #fff
}

.CriteriaForm__headerName {
    flex: 1;
}

.CriteriaForm__numberField {
    width: 100%;
}

.CriteriaForm__criteriaDesc {
    color: var(--default-forefround-3);
    white-space: pre-line;
}

.CriteriaForm__weight {
    font-weight: var(--font-weight-medium)
}

.CriteriaForm__field {
    gap: 0;
}

.CriteriaForm__field > p {
    display: none;
}

.CriteriaForm__warningIcon {
    width: 20px;
    height: 20px;
    fill: #faad14;
}

.CriteriaForm__exampleButton {
    color: var(--brand-background);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
}
