.SettingsDropdown {

}

.SettingsDropdown__settings {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
}

.SettingsDropdown__settingsIcon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    fill: var(--default-forefround);
}

.SettingsDropdown__settings:hover .SettingsDropdown__settingsIcon {
    fill: var(--brand-background);
    stroke: var(--brand-background);
    stroke-width: 1px;
}
