.menu {
    padding: 20px 10px;
    border-left: 1px solid rgba(0,0,0,0.06);
    border-right: 1px solid rgba(0,0,0,0.06);
    width: 110px;
}

.logo {
    margin-bottom: 14px;
    width: 40px;
    height: 40px;
}
