.UserTable {
    width: 100%;
}

.UserTable__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-position: center;
    object-fit: cover;
}

.UserTable .UserTable__columns {
    padding: 8px !important;
    background-color: #fff !important;
    font-weight: normal !important;
}

.UserTable th.UserTable__columns {
    font-size: var(--caption-font-size);
}
