.SolutionCarousel {

}

.SolutionCarousel__indexButton {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--default-foreground-disabled);
    color: var(--default-forefround-1);
    cursor: pointer;
}

.SolutionCarousel__indexButton:hover {
    background-color: var(--brand-border-1);
    color: var(--brand-background);
}

.SolutionCarousel__indexButton_isActive {
    background-color: var(--brand-forefround);
    color: var(--default-background);
}

.SolutionCarousel__solutionScroll {
    max-width: 100%;
    overflow: hidden;
}


.SolutionCarousel__description {
    margin-top: var(--space-m);
    color: var(--default-forefround-3);
}
