.Input {
    max-width: 100%;
    width: 100%;
    padding: 8px 12px;
    resize: none;
    border: 1px solid var(--default-border);
    border-bottom: 2px solid var(--default-border);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: var(--border-radius-m);
    outline: none;
    box-sizing: border-box;
    font-size: var(--body-font-size);
}

.Input_invalid {
    border-bottom-color: var(--red-forefround);
}

.Input:hover {
    border-bottom-color: var(--default-forefround-2);
}

.Input:focus {
    border-bottom-color: var(--brand-forefround);
}

.Input:disabled {
    pointer-events: none;
    background-color: var(--default-background-2);
    color: var(--default-forefround-2);
}

.Input[type="number"]::-webkit-outer-spin-button,
.Input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.Input[type="number"] {
    appearance: textfield;
}

.Input::placeholder {
    color: var(--default-forefround-3)
}
