.SignInForm {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    width: 100%;
}

.SignInForm__title {
    font-size: var(--title-3-font-size);
    line-height: var(--title-3-line-height);
    font-weight: var(--font-weight-medium);
}

.SignInForm__subtitle {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--default-forefround-3);
}

.SignInForm__signin {
    margin-top: var(--space-l);
}

.SignInForm__signin_text {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--default-forefround-3);
}

.SignInForm__signin_link {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--brand-forefround);
}


