.PageComponent {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.PageComponent__header {
  background-color: var(--default-background-2);
  border: 1px solid var(--default-border);
  display: flex;
  align-items: center;
  position: sticky;
  top:0;
  width: 100%;
}

.PageComponent__headerSide {
  flex-basis: 30%;
  min-width: 100px;
  padding: var(--space-s);
  justify-self: start;
}

.PageComponent__headerSide_isRight {
  justify-self: end;
}

.PageComponent__headerContent {
  flex-basis: 40%;
  align-self: center;
}

.PageComponent__main {
  flex:1;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.PageComponent__navbar {
  background-color: var(--default-background-2);
  position: sticky;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 var(--space-s) 0;
}

.PageComponent__navbar:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  top:0;
  right:0;
  opacity: 0.1;
  background-image: linear-gradient(to right, transparent, #000);
}

.PageComponent__content {
  flex:1;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.PageComponent__logo {
  width: calc(var(--icon-size-l) * 2);
  height: calc(var(--icon-size-l) * 2);
}
