.TaskCard {
    background-color: var(--default-background);
    border: 1px solid var(--default-border);
    padding: var(--space-m);
    transition: box-shadow 0.3s linear;
    width: 100%;
    border-radius: var(--border-radius-l);
    cursor: pointer;
}

.TaskCard:hover {
    box-shadow: var(--box-shadow);
}

.TaskCard__avatar {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-m);
    object-position: center;
    object-fit: cover;
}

.TaskCard__name {
    font-weight: var(--font-weight-light);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TaskCard__spaceName,
.TaskCard__deadline,
.TaskCard__statusText {
    font-size: 11px;
    color: var(--default-forefround-2);
}

.TaskCard__deadline_isError {
    color: var(--red-forefround);
}

.TaskCard__status {
    padding: 2px 4px;
    border-radius: var(--border-radius-s);
}

.TaskCard__status_status_3,
.TaskCard__status_status_1{
    background-color: var(--default-background-2);
}

.TaskCard__status .TaskCard__statusIcon {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
}

.TaskCard__status_status_3 .TaskCard__statusIcon,
.TaskCard__status_status_1 .TaskCard__statusIcon {
    fill: var(--default-forefround-2);
}

.TaskCard__status_status_4 {
    background-color: var(--green-background-1);
}

.TaskCard__status_status_4 .TaskCard__statusIcon {
    fill: var(--green-forefround);
}

.TaskCard__status_status_4 .TaskCard__statusText {
    color: var(--green-forefround);
}
