.Label {
    min-height: 28px;
    width: 100%;
    display: grid;
    grid-template:
                "a b c" minmax(28px, auto)
                "d b c" auto / 1fr auto 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Label_disabled {
    cursor: default;
}

.Label__expandIcon {
    padding: 5px;
    width: var(--icon-size);
    height: var(--icon-size);
    box-sizing: unset;
    fill: var(--secondary-text-color);
    grid-column: 3;
    grid-row: 1 / 5;
}

.Label__badgesContainer {
    max-height: 86px;
    overflow: auto;
    padding-top: calc(var(--font-size-m) + var(--space-s) * 2)
}
