.Textarea__label {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.Textarea__actions {
    position: absolute;
    bottom: var(--space-xs);
    right: var(--space-xs);
}

.Textarea {
    font: var(--font-default);
    max-width: 100%;
    width: 100%;
    padding: 8px 12px;
    resize: none;
    overflow: auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid var(--default-border);
    border-bottom: 2px solid var(--default-border);
    border-radius: var(--border-radius-m);
    outline: 1px solid transparent;
    outline-offset: -2px;
    box-sizing: border-box;
    min-height: 83px;
}

.Textarea__label:has( > .Textarea__actions) .Textarea {
    padding-bottom: calc(var(--space-xs) * 2 + var(--space-m));
}

.Textarea_invalid {
    border-color: var(--red-forefround);
}

.Textarea:hover {
    border-bottom-color: var(--default-forefround-2);
}

.Textarea:focus {
    border-bottom-color: var(--brand-forefround);
}

.Textarea:disabled {
    pointer-events: none;
    background-color: var(--default-background-2);
    color: var(--default-forefround-2);
}
