.TaskDescription {

}

.TaskDescription__form {
    width: 100%;
    max-width: 500px;
}

.TaskDescription__subtitle {
    font-size: 10px;
    font-weight: var(--font-weight-semibold);
    color: var(--default-forefround-2)
}

.TaskDescription__desc {
        white-space: pre-wrap;
}

.TaskDescription__teamWarn {
    color: var(--default-forefround-3);
    font-weight: var(--font-weight-semibold);
}
