.title {
    font-weight: var(--font-weight-semibold);
    font-size: 15px;
    line-height: 22px;
}

.column {
    flex: 1;
}

.modal {
    max-width: 520px;
    width: 100% !important;
}

.modal.full {
    max-width: 1040px;
    width: 100% !important;
}