.SolutionGrades {
    margin-top: 16px;
}

.SolutionGrades__params {
    font-size: 12px;
    color: var(--default-forefround-3)
}

.SolutionGrades__subtitle {
    font-size: 10px;
    font-weight: var(--font-weight-semibold);
    color: var(--default-forefround-2)
}

.SolutionGrades__name {
    flex: 1;
}

.SolutionGrades__description {
    white-space: pre-wrap;
}

.SolutionGrades__rate {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    color: var(--default-forefround-2);
    margin-top: 8px;
}

.SolutionGrades__collapse {
    width: 100%;
}
