.Link {
    color: var(--default-forefround-2);
   font-weight: var(--font-weight-medium);
}

.Link svg {
    fill: var(--default-forefround-2);
}

.Link:hover,
.Link_isActive {
    color: var(--brand-forefround);
}

.Link:hover svg,
.Link_isActive svg {
    fill: var(--brand-forefround);
}
