.SpaceSolutionPage {
    background-color: var(--default-background-2);
    min-height: 100%;
    flex: 1;
    width: 100%;
    padding: var(--space-l)
}

.SpaceSolutionPage__navPanel {
    width: 100%;
}
