.PasswordInput {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.PasswordInput__hiddenButton {
    position: absolute;
    right: 1px;
}

.PasswordInput__input {
    padding-right: calc(8px + 30px);
}
