.AppealCard {
    background-color: var(--default-background);
    border: 1px solid var(--default-border);
    padding: var(--space-m);
    transition: box-shadow 0.3s linear;
    width: 100%;
    border-radius: var(--border-radius-l);
    cursor: pointer;
}

.AppealCard:hover {
    box-shadow: var(--box-shadow);
}

.AppealCard__avatar {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-m);
    object-position: center;
    object-fit: cover;
}

.AppealCard__name {
    font-weight: var(--font-weight-light);
}

.AppealCard__spaceName,
.AppealCard__deadline,
.AppealCard__statusText {
    font-size: 11px;
    color: var(--default-forefround-2);
}

.AppealCard__deadline_isError {
    color: var(--red-forefround);
}

.AppealCard__status {
    padding: 2px 4px;
    border-radius: var(--border-radius-s);
}

.AppealCard__status_status_1 {
    background-color: var(--default-background-2);
}

.AppealCard__status .AppealCard__statusIcon {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
}

.AppealCard__status_status_1 .AppealCard__statusIcon {
    fill: var(--default-forefround-2);
}

.AppealCard__status_status_2 {
    background-color: var(--green-background-1);
}

.AppealCard__status_status_2 .AppealCard__statusIcon {
    fill: var(--green-forefround);
}

.AppealCard__status_status_2 .AppealCard__statusText {
    color: var(--green-forefround);
}

.AppealCard__prevGrade {
    font-weight: var(--font-weight-semibold);
}
