.CreateReviewForm {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: var(--space-xl);
    width: 100%;
}

.CreateReviewForm__criteriaScroll {
    height: calc(100vh - 215px - var(--space-m) * 2);
    overflow: auto;
    background-color: #fff;
    border-radius: var(--border-radius-l);
    padding: var(--space-m);
}

.CreateReviewForm__mark {
    font-size: var(--subheadline-font-size);
    line-height: var(--subheadline-font-size);
    font-weight: var(--font-weight-semibold);
}

.CreateReviewForm__form {
    width: 100%;
    max-width: 500px;
}

.CreateReviewForm__subtitle {
    font-size: 10px;
    font-weight: var(--font-weight-semibold);
    color: var(--default-forefround-2)
}

.CreateReviewForm__tab_invalid:after {
    background-color: var(--red-forefround) !important;
    opacity: 0.6;
}
